<a href="https://colab.research.google.com/github/ARPRAHMAN/AI_Problems/blob/main/AI_W8_6168.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Deed Neural Network (Context settings)**


*   Feature Learning
*   Feature Sequential model develop

*   Traning Essential
*   Validity of performance

In [1]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Adjust the path to your file location
file_path = '/content/drive/MyDrive/AI_dataset/Churn_Modelling.csv'
df = pd.read_csv(file_path)

# Check the first few rows of the dataset
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [11]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [12]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [13]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [15]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [16]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

for convert string to numeric use **GET DUMMYES** for encoding.

In [17]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [18]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [19]:
x = df.drop(columns=['Exited'])
y = df['Exited'].values

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

Deviation Minimal for everyone that's why use **standard scaler**

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [23]:
x_train_scaled

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

# Let's Begin With DEEP Learning (**ANN**)

model = seqential()

layer(3,Activation Funtion)

layer(1, Activation Function)

In [28]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [30]:
model = Sequential()

model.add(Dense(3,activation='sigmoid',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [31]:
model.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 3)                          36

 dense_1 (Dense)                  (None, 1)                           4

 Total params: 40 (160.00 B)

 Trainable params: 40 (160.00 B)

 Non-trainable params: 0 (0.00 B)

In [32]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [33]:
model.fit(x_train,y_train, epochs=10)

Epoch 1/10
250/250  4s 4ms/step - accuracy: 0.7996 - loss: 0.5589
Epoch 2/10
250/250  2s 6ms/step - accuracy: 0.7928 - loss: 0.5173
Epoch 3/10
250/250  2s 4ms/step - accuracy: 0.7971 - loss: 0.5056
Epoch 4/10
250/250  1s 4ms/step - accuracy: 0.7885 - loss: 0.5160
Epoch 5/10
250/250  1s 4ms/step - accuracy: 0.8040 - loss: 0.4950
Epoch 6/10
250/250  1s 3ms/step - accuracy: 0.7991 - loss: 0.5018
Epoch 7/10
250/250  2s 6ms/step - accuracy: 0.7898 - loss: 0.5143
Epoch 8/10
250/250  1s 6ms/step - accuracy: 0.7932 - loss: 0.5098
Epoch 9/10
250/250  1s 5ms/step - accuracy: 0.7897 - loss: 0.5147
Epoch 10/10
250/250  2s 3ms/step - accuracy: 0.7963 - loss: 0.5056

In [34]:
model.layers[0].get_weights()

[array([[ 0.22244954, -0.09404367, -0.45168266],
        [-0.56139225, -0.47614866, -0.487974  ],
        [ 0.21598303, -0.38226992,  0.35443974],
        [ 0.5433897 ,  0.47485566, -0.40157595],
        [-0.09254092,  0.44188198, -0.46637136],
        [-0.5828825 ,  0.63689494,  0.02810204],
        [-0.05962521,  0.49576327,  0.03628099],
        [ 0.36978507,  0.40514788, -0.10628629],
        [-0.23836702,  0.6117275 ,  0.31525874],
        [ 0.26924872,  0.04678562, -0.33068135],
        [-0.2069208 , -0.1269273 ,  0.34204036]], dtype=float32),
 array([0.        , 0.06005583, 0.        ], dtype=float32)]

In [35]:
model.layers[1].get_weights()

[array([[-0.6176821 ],
        [-0.4372612 ],
        [-0.71766895]], dtype=float32),
 array([-0.30587947], dtype=float32)]

In [37]:
model.predict(x_test_scaled)

63/63  0s 3ms/step

array([[0.15881346],
       [0.23435563],
       [0.24226871],
       ...,
       [0.22888996],
       [0.1937097 ],
       [0.15377069]], dtype=float32)

In [38]:
y_log = model.predict(x_test_scaled)

63/63  0s 2ms/step

In [39]:
y_pred = np.where(y_log>0.5,1,0)

In [40]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7975

# Question

3 hidden layer

1st hidden layer 4 neuron

3st hidden layer 4 neuron

2nd hidden layer 2 neuron (relu)

output (2)

In [41]:
model = Sequential()

model.add(Dense(4,activation='sigmoid',input_dim=11))
model.add(Dense(2,activation='relu',input_dim=45))
model.add(Dense(4,activation='sigmoid',input_dim=3))
model.add(Dense(2,activation='sigmoid'))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [42]:
model.summary()

Model: "sequential_1"

 Layer (type)                     Output Shape                  Param #

 dense_2 (Dense)                  (None, 4)                          48

 dense_3 (Dense)                  (None, 2)                          10

 dense_4 (Dense)                  (None, 4)                          12

 dense_5 (Dense)                  (None, 2)                          10

 Total params: 80 (320.00 B)

 Trainable params: 80 (320.00 B)

 Non-trainable params: 0 (0.00 B)

In [43]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [44]:
history= model.fit(x_train_scaled,y_train,batch_size=50,epochs=50,verbose=1,validation_split=0.2)

Epoch 1/50

ValueError: Arguments `target` and `output` must have the same rank (ndim). Received: target.shape=(50,), output.shape=(50, 2)

Need to fix issues

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
history.history

In [ ]:
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])

In [ ]:
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])

# Home Task:

USING heart dataset , apply neural networks,
with 3 hidden netwroks , 11 neurons, output 2 layers, now find out the test accuracy , train, test and display knowledge graph with 3 major features with 20 rows.